<html>
    <head>
        <title>ViralSharer</title>
    </head>

    <body>
        <h2>ViralSharer @ Coffee</h2>
        <form action = "/home" method = "POST" enctype="multipart/form-data" ref = "uploadForm">
            <input type = "email" name = "mail" placeholder="J.Doe@example.com" required>
            <br />
            <input type = "file" name = "upd" required>
            <br />
            <input type = "submit" value = "Submit">
            <br style="margin-top: 1em;"/>
            <p>Want to Access uploaded files? <a href = "/access">Go on then :)</a></p>
        </form>
    </body>
</html>