<html>
    <head>
        <title>ViralSharer</title>
    </head>

    <body>
        <div style="margin-top: 4em;margin-left: 5em;">
            <h3>File Uploaded Successfully</h3>
            <a href="/home">
                <input type = "button" value="Go Back Home">
            </a>
            <a href="/access">
                <input type = "button" value="Go Take A Peek">
            </a>
        </div>
    </body>
</html>